<div class="bg-customLightGreen flex flex-row justify-between items-center align-middle pt-28 pb-10 pl-16 pr-44">
    <div class="flex flex-col justify-center items-start align-middle">
        <div class="text-4xl font-bold text-customGreens mb-3">
            Logo
        </div>

        <div class="my-1">
            <span class="text-gray-700 text-lg">Location: </span> <span class="text-gray-600">Ilsr Street gilrt awam juim</span>
        </div>
        <div class="my-1">
            <span class="text-gray-700 text-lg">Contact: </span> <span class="text-gray-600">+9 5555559909</span>
        </div>
        <div class="my-1">
            <span class="text-gray-700 text-lg">Time: </span> <span class="text-gray-600">(9am - 5pm EST, Monday - Friday)</span>
        </div>
        <div class="my-1">
            <span class="text-gray-700 text-lg">Email: </span> <span class="text-gray-600">youme&#64;Rule.com</span>
        </div>

    </div>

    <div class="flex flex-col justify-center items-start align-middle">
        <div class="text-black text-2xl font-bold my-2">Company</div>
        <div class="text-gray-700 my-2 cursor-pointer">Case Studies</div>
        <div class="text-gray-700 my-2 cursor-pointer">Case Details</div>
        <div class="text-gray-700 my-2 cursor-pointer">Privacy Policy</div>
        <div class="text-gray-700 my-2 cursor-pointer">Services</div>
    </div>


    <div class="flex flex-col justify-center items-start align-middle">
        <div class="text-black text-2xl font-bold my-2">Explore</div>
        <div class="text-gray-700 my-2 cursor-pointer">About Us</div>
        <div class="text-gray-700 my-2 cursor-pointer">Blog And News</div>
        <div class="text-gray-700 my-2 cursor-pointer">Blog Details</div>
        <div class="text-gray-700 my-2 cursor-pointer">Pricing</div>
    </div>


    <div class="flex flex-col justify-center items-start align-middle">
        <div class="text-black text-2xl font-bold my-2">Insurance</div>
        <div class="text-gray-700 my-2 cursor-pointer">Health Insurance</div>
        <div class="text-gray-700 my-2 cursor-pointer">Car Insurance</div>
        <div class="text-gray-700 my-2 cursor-pointer">Business Insurance</div>
        <div class="text-gray-700 my-2 cursor-pointer">Life Insurance</div>
    </div>

</div>