<div class="flex flex-col justify-center items-center align-middle bg-white h-screen">
    <div class="text-customGreens text-lg">
        OUR FEATURES
    </div>
    <div class="w-1/2 text-gray-800 text-5xl font-bold mt-2 mb-10">
        <span class="block text-center mb-1">Better Digital Insurance Begins</span>
        <span class="block text-center">Right Here</span>
    </div>
    <div class="flex flex-row justify-center align-middle items-center mx-16">
        <div class="flex flex-col justify-center items-start align-middle p-5 border-2 border-white shadow-lg mx-3">
            <img src="money-back.svg" class="h-20 mb-3" alt="">
            <div class="text-black text-2xl font-semibold mb-3">
                Money Back Gurantee
            </div>
            <div class="text-gray-600 text-lg">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quis
                placerat arcu nibh sed.
            </div>
        </div>

        <div class="flex flex-col justify-center items-start align-middle p-5 border-2 border-white shadow-lg mx-3">
            <img src="money-back.svg" class="h-20 mb-3" alt="">
            <div class="text-black text-2xl font-semibold mb-3">
                All Claims At Anytime
            </div>
            <div class="text-gray-600 text-lg">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quis
                placerat arcu nibh sed.
            </div>
        </div>

        <div class="flex flex-col justify-center items-start align-middle p-5 border-2 border-white shadow-lg mx-3">
            <img src="money-back.svg" class="h-20 mb-3" alt="">
            <div class="text-black text-2xl font-semibold mb-3">
                Digital Insurance Policy
            </div>
            <div class="text-gray-600 text-lg">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quis
                placerat arcu nibh sed.
            </div>
        </div>

        <div class="flex flex-col justify-center items-start align-middle p-5 border-2 border-white shadow-lg mx-3">
            <img src="money-back.svg" class="h-20 mb-3" alt="">
            <div class="text-black text-2xl font-semibold mb-3">
                Direct Payment App
            </div>
            <div class="text-gray-600 text-lg">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quis
                placerat arcu nibh sed.
            </div>
        </div>

        
    </div>
</div>