 

<div class="flex flex-row justify-between items-center align-middle bg-customLightGreen" >

    <div class="flex flex-col justify-center items-start align-middle w-1/2 m-5">
        <div class="text-black text-6xl font-bold leading-tight">
            Take The Worry Out Of
            Life With <span class="text-customGreens">Insurance</span>
            Protection
        </div>
        <div class="text-gray-600 text-2xl my-5 leading-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat
            arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. ld
            nisl quis arcu nulla Ieo nulla cras justo consectetur adipiscing elit.
        </div>
        <div class="flex flex-row justify-between items-center align-middle my-5">
            <button class="bg-customGreens px-7 py-3 text-white text-lg rounded-lg border-customGreens border-2 mr-10">
                <i class="fas fa-chevron-right text-xs mr-5"></i>Get Started
            </button>
            <button class="bg-white px-7 py-3 text-customGreens text-lg rounded-lg border-customGreens border-2 hover:bg-customGreens hover:text-white ">
                <i class="fas fa-paper-plane text-xs mr-2"></i>Contact Us
            </button>
        </div>
    </div>
    <div class="w-1/2">
        <img src="p1.png" class=" h-screen" alt="">
    </div>
</div>