<nav class="mx-7 my-3">
    <div class="flex flex-row justify-between items-center align-middle">
        <div class="text-4xl font-bold text-customGreens">
            Logo
        </div>
        <div class="text-lg text-gray-600 m-5">
            <div class="pr-16 pb-2">Search here...</div>
            <hr class="text-lg border-gray-600">
        </div>
        <div class="flex flex-row justify-between items-center align-middle">
            <div class="text-black hover:text-customGreens font-semibold text-lg cursor-pointer mr-7">
                Home <i class="fas fa-chevron-down  text-xs"></i>
            </div>
            <div class="text-black hover:text-customGreens font-semibold text-lg cursor-pointer mr-7">
                Pages <i class="fas fa-chevron-down  text-xs"></i>
            </div>
            <div class="text-black hover:text-customGreens font-semibold text-lg cursor-pointer mr-7">
                Insurances <i class="fas fa-chevron-down  text-xs"></i>
            </div>
            <div class="text-black hover:text-customGreens font-semibold text-lg cursor-pointer mr-7">
                Blog <i class="fas fa-chevron-down  text-xs"></i>
            </div>
            <div class="text-black hover:text-customGreens font-semibold text-lg cursor-pointer">
                Contact Us 
            </div>
        </div>
       <div class="flex flex-row justify-evenly items-center align-middle">
        <div class="text-black text-lg mr-7">
            <i class="fas fa-phone text-customGreens text-lg"></i> +(111) 65 458 856
        </div>
        <button class="rounded-lg border-customGreens border-2 mr-7">
            <div class="px-7 py-3 text-white bg-customGreens "> 
                <i class="fas fa-pen underline mx-3 text-sm"></i>Get A Quote

            </div>
        </button>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSRmJUyzUsHKH0T4x-nwVmj2q4YAbZLBYAjtM2jMrzMYhkOHRV4" class="h-8">
       </div>
    </div>
</nav>