<div class="relative flex flex-col justify-center items-center align-middle bg-white h-screen">
  <img src="p9.png" class="absolute bottom-48 left-1/4">
  <img src="p10.png" class="absolute bottom-48 right-56">
    <div class="text-customGreens text-lg">
        READY TO GET STARTED
    </div>
    <div class="w-1/2 text-gray-800 text-5xl font-bold mt-2 mb-5">
        <span class="block text-center mb-1">Get The Latest Insurance News In</span>
        <span class="block text-center">Minutes</span>
    </div>

    <div class="text-lg text-gray-600 w-1/2 m-2">
        <span class="block text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh</span>
        <span class="block text-center">sed placerat elementum. Urna eu et purus et mi sit rhoncus..<span class="text-customGreens cursor-pointer">View All</span></span>
    </div>
    
    <div class="flex w-full max-w-xl mt-10">
        <input
          type="email"
          placeholder="Email address"
          class="w-full py-2 px-3 text-sm md:py-3 md:px-4 rounded-l-lg border border-gray-300 bg-gray-100 focus:outline-none focus:border-customGreens"
        />
        <button
          class="bg-customGreens hover:bg-gray-400 text-white py-2 px-3 text-sm md:py-3 md:px-4 md:min-w-[200px] rounded-r-lg flex items-center"
        >
            <i class="far fa-paper-plane text-xs mr-5"></i>
          <span>Subscribe Now</span>
        </button>
      </div>
   
</div>